# Claves de las APIs necesarias para el proyecto
OPENWEATHER_API_KEY="tu_api_key_de_openweathermap"
CROPHEALTH_API_KEY="tu_api_key_de_crophealth"
DEEPSEEK_API_KEY="tu_api_key_de_deepseek"

# Gmail API Credentials
GMAIL_CLIENT_ID="tu_client_id_de_google"
GMAIL_CLIENT_SECRET="tu_client_secret_de_google"
GMAIL_PROJECT_ID="tu_project_id_de_google"

# Gmail API Tokens (se generarán con el script)
GMAIL_ACCESS_TOKEN="tu_access_token_temporal_o_vacio"
GMAIL_REFRESH_TOKEN="tu_refresh_token_de_google"
GMAIL_TOKEN_URI="https://oauth2.googleapis.com/token"
GMAIL_ACCOUNT="tu_correo_gmail_asociado"
GMAIL_EXPIRY="2025-12-06T02:01:24"

# Clave de la secret key que requiere Json Web Token
SECRET_KEY="tu_clave_secreta_super_segura"