fastapi==0.115.2
uvicorn[standard]==0.30.6

requests==2.32.3
python-dotenv==1.0.1

PyMuPDF==1.24.9
PyPDF2==3.0.1
reportlab==4.2.2
Jinja2==3.1.4

google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1

argon2-cffi==23.1.0

sqlalchemy==2.0.23
alembic==1.12.1

apscheduler==3.10.4
